
html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    top: 0;
    background-color: #1f0e39;
}

.main-title{
    text-align: center;
    font-size: 30px;
    color: #b0a8b9;
    border-bottom: 5px solid #b53c56;
    background-color: #741755;
}

.choice-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4%;
    background-color: #1f0e39;
    align-items: center;
    transition: .3s;
}
.choice-section.details {
    transition: 1s;
    transform: translateX(-50%);
}

.bouton {
    z-index: 1;
    cursor: pointer;
    position: relative;
    font-size: 5vh;
    color: #b0a8b9;
    text-decoration: none;
    text-align: center;
    margin: 1%;
    border: 2px solid #b53c56;
    padding: 2vw 2vw;
    width: 35vw;
    min-width: 230px;
    transition: .3s;
}
.bouton::before {
    content: ""; 
    position: absolute;
    inset: 100%;
    background: #1f0e39;
}
.bouton:hover {
    box-shadow: 0 0 1800px 80px #741755;
    transform: scale(.96);
}
.bouton.details {
    transition: 1s;

}
.bouton.small {
    transition: 1s;
    font-size: 1.2em;
    width: 10vw;
    min-width: 120px;
}

.footer {
    display: flex;
    flex-direction: row;
}

.credit-bouton {
    background-color: #1f0e39;
    font-size: large;
    color: #b0a8b9;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    box-shadow: 0 0 80px #741755;
    transition: .3s;
}
.credit-bouton:hover {
    background-color: #741755;
    box-shadow: 0 0 200px #741755;
    transform: scale(.96);
}

.toggle {
    opacity: 0;
    font-size: 20px;
    color: #b0a8b9;
    margin-left: 10px;
    border-bottom: 4px solid #b53c56;  
    transition: .5s;

}
.toggle.active {
    opacity: 1;
    transform: translate(20%); 
}

.text-details {
    display: none;
    font-size: 3vh;
    color: #b0a8b9;
    margin: 2%;
    height: 0;
    text-align: center;
    transition: .5s;
}
.text-details.block {
    display: block;
    height: auto;
    opacity: 0;
}
.text-details.block.active {
    opacity: 1;
}